<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Agregar Usuario</title>
<!--Bootstrap-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!--SCRIPTS-->
    <!--Jquery-->
    <script src="/js/jquery-3.0.0.min.js"></script>

    <!--Pooper-->
    <script src="/js/popper.min.js"></script>

    <!--Bootstrap-->
    <script src="/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenido al Foro de Desarrolo Web</h1>
			<p class="lead">Necesitas identificarte</p>
			<hr class="my-4">
			<p class="text-danger">Proporciona los datos  de tu cuenta para acceder al sitio.</p>
			<div class="row">
				<div class="col-3"></div>
				<div class="col-5">
					<div th:if="${param.error!=null and session['SPRING_SECURITY_LAST_EXCEPTION'] != null}"
					class="alert alert-warning alert-dismissible fade show"
					role="alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4 th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></h4>
					</div>
					
					<form action="#" th:action="@{/usuario/validar}" method="post">
						<label>Correo electrónico:</label>
						<input type="email" required="required" 
						name="username" class="form-control" />
						
						<label>Clave de acceso:</label>
						<input type="password" required="required" 
						name="password" class="form-control" />
						
						<p>
							<input type="submit" value="Validar"/>
							<input type="reset" value="Limpiar"/>
						</p>
					</form>
					
					<div class="form-group">
						<div class="form-group">
							<a th:href="@{/usuario/agregar}">No tengo una cuenta, registrarme..</a>
						</div>
					</div>
					
				</div>
				<div class="col-4"></div>
			</div>
				<hr class="my-4">
				
				<div class="row">
					<div class="col-2"></div>
					<div class="col-8">
						<p>Desarrollo de Aplicaciones Web- Mauricio González Castelán.</p>
                         <p>ITSSNP-13-04-2021</p>
					</div>
					<div class="col-2"></div>
				</div>
			
		</div>
	</div>
</body>
</html>